streamlit
streamlit-authenticator
openai
langchain
langchain-community
langchain-chroma
langchain-huggingface
transformers
torch
langchain-experimental
langchain-core
chromadb
pysqlite3-binary
sentence-transformers
pypdf
python-docx
openpyxl
pandas
pdfplumber
requests
aiohttp
tiktoken
beautifulsoup4
regex
huggingface-hub
tokenizers
safetensors
python-dateutil
packaging
typing-extensions
six
urllib3
certifi
charset-normalizer
idna
filelock
tqdm
pyyaml
jsonschema
faiss-cpu
chroma-hnswlib
plotly
altair
python-dotenv
pydantic
uuid
bcrypt
qrcode[pil]
pydub
soundfile
gtts